node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/client/.env
.env.local
.env.*.local
.env
/client/.env.local
.vscode/
.drizzle-cache/
.replit
replit.md
replit.nix
*.tsbuildinfo
/coverage 